.grid {
  max-width: 1140px;
  padding-bottom: 80px;
  &-sidebar {
    .navbar {
      background: #ffffff url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232980b9' fill-opacity='0.04' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    position: relative;
  }
  .grid {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    max-width: 100%;
    padding-bottom: 0;

    &-sidebar {
      grid-column: 1;
      grid-row: 1/4;
      background: #ffffff url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232980b9' fill-opacity='0.04' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      .navbar {
        background: transparent;
        box-shadow: none;
      }
    }
    &-header {
      grid-column: 2;
      grid-row: 1;
    }
    &-content {
      overflow: auto;
      grid-column: 2;
      grid-row: 2;
    }
    &-footer {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: 300px 1fr;
  }
}
