.tray {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;

  &-item {
    flex: 1 80%;
    background: $white;
    margin: $grid-gutter-width/2;
    display: flex;

    &:first-child {
      flex-basis: 80%;
    }

    @media only screen and (min-width: 992px) {
      flex-basis: 35%;
    }
  }

  &-column {
    flex-direction: column;
  }

  &-disabled {
    background: $gray-200;
    color: $gray-600;
  }

  &-image {
    background-size: cover;
    flex: 1;
  }

  &-body {
    flex: 2;
    padding: $grid-gutter-width/2;
  }
}
