---
layout: default
title: Sidemenu
permalink: /sidemenu.html
group: admin
icon: fa-file-import
order: 9
---

<div class="container py-3">
    <p>
        A page with a side menu. The basics is that it is on the side. When a small device sees the page the sidebar is
        collapsed and a collapse icon apears.
    </p>
</div>
{% include_relative sidemenu_content.html %}
<div class="container py-3">
    <h3>html</h3>
    {% highlight html %}{% include_relative sidemenu_content.html %}{% endhighlight %}
</div>
