---
layout: default
title: Pages
permalink: /pages.html
menu: pages
group: main
icon: fa-file
order: 10
---

<div class="bg-success">
    <div class="container py-3 text-white">
        <h1>{{ page.title }}</h1>
        <p class="lead">
            Check out some admin pages
        </p>
    </div>
</div>
<div class="container py-3">
    <div class="row">
        {% for my_page in site.pages %}
            {% if my_page.group == page.menu %}
                <a class="col-lg-3 col-sm-6 col-12" href="{{ my_page.url | prepend: site.baseurl }}">
                    <div class="text-center border bg-white py-3 mb-3">
                        <i class="fa fa-fw fa-5x {{ my_page.icon }}"></i>
                        <h3>{{ my_page.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
